body {
    text-align: center;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DE020A;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: left;
}
hr {
    color: #DE020A;
}
p {
    text-align: left;
    padding-left: 500px;
    padding-right: 500px;
}
h4 {
    padding-left: 500px;
    padding-right: 500px;
}